body {
  scroll-behavior: smooth;
}

@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out both;
}

body.light {
  background-color: #f4f4f4;
  color: #111;
}
body.light .prose {
  background: #fff;
  color: #000;
}
